/* 头部 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body header{
    background: #fff;
    width: 100%;
    height:1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e6f0;
    box-sizing: border-box;
    padding: 0% 5%;
}
.h_left{
    display: flex;
    width:33%;
}
.h_left,.h_middle,.h_right{
    font-size:.3rem;
}
.h_left a{
    text-decoration: none;
}
.h_left a:first-child{
   margin-right: 10%;
   width:10%;
}
.h_left a:last-child{
    width: 45%;
}
.h_left a:first-child img{
    width:100%;
    vertical-align: middle;
}
.h_left a:last-child{
    line-height: .4rem;
    color: #222;
    vertical-align: top;
    
}
.h_left a:last-child img{
    width: 25%;
    padding-left: 10%;
    vertical-align: middle;
}
.h_middle{
    width: 35%;
    text-align: left;
    display: flex;
    /* margin-top: 5%; */
    margin: 0 auto;
}
.h_middle a{
    width: 100%;
}
.h_middle img{
   width: 60%;
   vertical-align: middle;
}
.h_right{
    width: 10%;
    text-align: right;
}
.h_right a{
    width: 100%;
}
.h_right img{
    width: 45%;
    vertical-align: middle;
}
/* 搜索框 */
.r_search{
    background: #fff;
    font-size: .25rem;
    width: 100%;
    box-sizing:border-box;
    padding: 3% 2%;
}
.r_search a{
    display: inline-block;
    width: 100%;
    height: .6rem;
    border-radius:.3rem;
    line-height: .6rem;
    text-align: center;
    text-decoration: none;
    background: #f5f5f5;
    color: #ccc;
    margin: 0 auto;
}
.r_search a img{
    width: 3.5%;
    padding-right: 1%;
    vertical-align:middle;
}
/* 筛选部分 */
#app .all_back .lists-t{
    background-color: #fff;
    width: 100%;
    display: flex;
    overflow: hidden;
    width: 100%;
    padding: 3% 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e4e6f0;
}
.lists-t li{
    width: 25%;
    display: flex;
   justify-content: center;
}
.lists-t li span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 0.4rem;
    font-size: .3rem;
}
.lists-t li i{
    display: inline-block;
    font-style: normal;
    width: 0;
    height: 0;
    margin: 9% 0;
    margin-left: 8%;
    border: .1rem solid transparent;
    border-top-color: #9ea1a3;
    transition: all .1s;
    transform-origin: 60% 25%;
}
.lists-t li i.act{
    transform: rotateZ(180deg);
    border-top-color: #3072f6;
}
#app .all_back .contents{
    background: #fff;
    display: flex;
    height: 7rem;
    justify-content: space-between;
   padding-left: 5%;
    box-sizing: border-box;
}
#app .all_back .contents ul{
    width: 33%;
    overflow: scroll;
}
#app .all_back .contents ul li{
    font-size: .3rem;
}
#app .all_back .contents .area_keys1{
    background: #fff;
    padding-top: 5%;
  
}
.area_keys1 li{
    padding-bottom: 15%;

}
.area_keys2{
    background-color: #f5f5f5;
    padding-top: 5%;
    margin-left: -1%;

}
.area_keys2 li p{
    padding-bottom: 15%;
    padding-left: 5%;
    margin-bottom: 10px; 
    color: #000;
    font-size: .3rem;
}
.area_keys3{
    background-color: #f2f2f2;
    padding-top: 5%;
    margin-left: -2%;
}
.area_keys3 li div p{
    padding-bottom: 15%; 
    padding-left: 5%;
    margin-bottom: 0%;
    color: #000;
    margin-top: 0%;
    font-size: .3rem;
}
#app .all_back .area_active{
    color: #3072f6;
}
.contents1,.contents2{
    height: 7rem;
}
.contents1{
    background-color: #fff;
}
.contents1 a{
    color: #000;
    display: block;
    text-decoration: none;
    font-size: .3rem;
    padding: 5% 0;
    margin: 0 5%;
    border-bottom: 1px solid #e4e6f0;
}
.contents2{
    background-color: #fff;
}
.contents2 ul{
    height: 5.5rem;
    overflow: scroll;
}
.contents2 a{
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: .3rem;
    padding: 5% 0;
    margin: 0 5%;
}
.contents2 div{
    display: flex;
    padding: 5% 5%;
    justify-content: space-around;
    border-top: 1px solid #e4e6f0;
    box-sizing: border-box;
}
.all_back .contents2 input{
    border-radius: 0%;
    width: 20%;
    padding: 4.5% 6%;
    font-size: .23rem;
    height:0;
    margin-bottom: 0;
}
.all_back .contents2 i{
    font-size: .3rem;
    font-style: normal;
    line-height:.6rem
}
.contents2 div button{
    padding: 0%;
    border-radius: 0%;
    width: 35%;
    border: none;
    border: 1px solid  #3072f6;
    background-color: #fff;
    color:#3072f6;
    outline: none;
    font-size: .3rem;
}
.contents3{
    height: 13.3rem;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: flex-end;;
}
.contents3 .right{
    width: 80%;
    background: #fff;
}
.contents3 .right .ff_rr{
    padding-left: 8%;
    height: 85%;
    overflow: scroll;
}
.contents3 .right .ff_rr li{
    font-size:.35rem;
    padding-top: 5%;
    padding-bottom: 10%;
    border-bottom: 1px solid #e4e6f0;
  
}
.contents3 .right .ff_rr li span{
    display: block;
}

.contents3 .right .ff_rr li a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9399a5;
    font-size:.3rem;
    display: inline-block;
    border: 1px solid #ccc;
    width: 27%;
    text-align: center;
    padding: 1% 0;
    margin-right: 5%;
    margin-top: 5%;
}
.contents3 .right .ff_rr li a.fliter_last{
    background-color: rgba(48,114,246,.15);
    border-color: rgba(48,114,246,.15);
    color: #3072f6;
}
.ff_zz{
    display: flex;
    width: 80%;
    position: absolute;
    bottom:3%;
    box-sizing: border-box;
    right: 0;
    background: #fff;
}
.ff_zz span{
    padding: 5% 10%;
    background: #fff;
    font-size: .33rem;

}
.ff_zz button{
    width: 68%;
    border-radius: 0%;
    padding: 5% 28%;
    font-size: .33rem;
    border: none;
    outline: none;
    background: #3072f6;
    color: #fff;
}
/* 数据列表 */
.pro_details{
    padding: 0 5%;
    box-sizing: border-box;
}
.mui-scroll-wrapper {
    /* position: absolute; */
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}
/* body .down_push .mui-scroll-wrapper {
    position: initial;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
} */
.mui-scroll-wrapper .mui-scroll .pro_details .data_link a{
    display: flex;
    text-decoration: none;
    color:#222;
}
.mui-scroll-wrapper .mui-scroll .data_link{
    border-bottom: 1px solid #e4e6f0;
    padding-bottom: 4%;
    padding-top: 4%;
}
.mui-scroll-wrapper .mui-scroll.pro_l{
    flex: 0 0 112px;
}
.pro_l img{
    width: 100%;
    border-radius: .05rem;
    vertical-align: middle;
}
.mui-scroll-wrapper .mui-scroll .pro_r{
    width: 66%;
    flex-shrink: 0;
    font-size: .33rem;
    padding-left:6%;
    box-sizing: border-box;
}
.mui-scroll-wrapper .mui-scroll .pro_r p{
    color: #222;
    font-size: .33rem;
    line-height: .4rem;
    margin-bottom: 0%;
}
.mui-scroll-wrapper .mui-scroll .pro_r p:nth-child(2){
    color: #222;
    margin-bottom: 0%;
    font-size: .25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mui-scroll-wrapper .mui-scroll .pro_r p:nth-child(3) span{
    font-size: .24rem;
    text-align: center;
    color: #849aae;
    background: rgba(237,240,243,.8);
    padding: 0 1%;
    border-radius: .05rem;
}
.mui-scroll-wrapper .mui-scroll .pro_r p:nth-child(4){
    margin-top:1%;
    color:  #fa5741;
}
.mui-scroll-wrapper .mui-scroll .pro_r p:nth-child(4) span:nth-child(1){
    font-size: .33rem;
    font-weight: 700;
}
.mui-scroll-wrapper .mui-scroll .pro_r p:nth-child(4) span:nth-child(2){
    padding-left: 3%;
    font-size: .24rem;
}

