<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/zepto.min(1.2.0).js"></script>
    <link rel="stylesheet" href="./css/Rent_house.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>
    <!-- 头部 -->
    <header>
        <div class="h_left">
            <a href="">
                <img src="./img/back.png" alt="">
            </a>
            <a href="">郑州<img src="./img/down.png" alt=""></a>
        </div>
        <div class="h_middle">
            <a href=""><img src="./img/logo.png" alt=""></a>
        </div>
        <div class="h_right">
            <a href=""><img src="./img/user.png" alt=""></a>
        </div>
    </header>
    <!-- 搜索框 -->
    <div class="r_search">
        <a href=""> <img src="./img/search.png" alt="">你想住在哪？</a>
    </div>
    <!-- 图标导航部分整租 合租… -->
    <ul class="r_nav">
        <li>
            <a href="">
                <img src="./img/Rent_t1.png" alt="">
                <p>整租</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./img/Rent_t2.png" alt="">
                <p>合租</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./img/Rent_t3.png" alt="">
                <p>独栋公寓</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./img/Rent_t4.png" alt="">
                <p>月租</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./img/Rent_t5.png" alt="">
                <p>我要出租</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./img/Rent_t6.png" alt="">
                <p>品质搬家</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./img/Rent_t7.png" alt="">
                <p>联系我们</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="" alt="">
            </a>
        </li>
    </ul>
    <!-- 优选房源 -->
    <div class="r_proper">
        <h2>优选房源</h2>
        <div class="pro_details" id="pro_details" style="padding-top: 3%;">
            <div v-for="list in lists" class="data_link">
                <a href="">
                    <div class="pro_l">
                        <img :src=list.rent_img alt="">
                    </div>
                    <div class="pro_r">
                        <p>{{list.title}}</p>
                        <p>{{list.content}}</p>
                        <p v-if="lists.length>0">
                            <span>{{list.content_item1}}</span>
                            <span>{{list.content_item2}}</span>
                            <span>{{list.content_item3}}</span>
                            <span>{{list.content_item4}}</span>
                        </p>
                        <p><span>{{list.number}}</span><span>元/月</span></p>
                    </div>
                </a>
            </div>
           <div class="r_all">
               <a href="" style="text-decoration: none;color: #222;">查看全部房源
                <img src="./img/down1.png" alt="">
               </a>
           </div>
        </div>
    </div>
    <div class="r_fixed">
    </div>
    <!-- 底部 -->
    <div class="r_footer">
        <p class="f_top">
            <a href="./Rent_house.html" style="color: rgb(142, 142, 142);">郑州租房网</a>
            >
            <a href="">郑州租房</a>
        </p>
        <div class="f_center">
           <div class="tab_title">
                <p>热门商圈</p>
                <p>推荐小区</p>
                <p>租房城市</p>
           </div>
        </div>
    </div>
    <!-- <script src="./js/rent_house.js"></script> -->
    <script>
        (function () {
            function font() {
                var all = document.documentElement;  // 获取html元素
                var w = all.getBoundingClientRect().width;  // 获取当前设备的宽度
                if (w > 750) {
                    w = 750;
                }
                rem = w / 7.5;
                all.style.fontSize = rem + 'px'
            }
            font();
            window.addEventListener("resize", function () {
                font()
            }, false)
        })();
        new Vue({
            el: "#pro_details",
            data: {
                lists: [],
            },
            
            mounted() {
                axios.get('http://localhost:3000/cont').then(res => {
                    console.log(res.data.data)
                    this.lists=this.lists.concat(res.data.data)
                }).catch(err => {
                    console.log(err)
                })
            },
        })
        
    </script>
</body>

</html>