*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}
ul{
    list-style: none;
}
.inner{
    display: flex;
    font-weight:400 ;
    padding:0 1rem;
    background-color: white;
}
.inner-item{
    width:33.4%;
    height: 4rem;
    box-sizing: border-box;
}
.login{
    background: url(../img/xinfang.svg) no-repeat 50%/100%;
    cursor: pointer;
}
.icon-user{
    background: url(../img/icon-user.png) no-repeat 100%/15%;
    cursor: pointer;
}
.item1{
    display: flex;
    align-items: center;
}
.item1 span{
    cursor: pointer;
}
.icon-back{
    display: inline-block;
    width: 2rem;
    height: 100%;
    background: url(../img/icon-back.png) no-repeat 0/40%;
}
.icon-down{
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-left:0.2rem;
    background: url(../img/icon-down.png) no-repeat 0/100%;
}
/* 搜索 */
.search{
    width: 100%;
    height: 3.875rem;
    padding: 0.65rem 0.875rem;
    box-sizing: border-box;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    z-index: 2;
}
.search p{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius:2rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 0.875rem;
    box-shadow: 0px 5px 5px #cecece;
}
.search-img{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../img/icon-search.png") no-repeat 50%/1rem;
}
/* 轮播 */
#swiper{
    width: 100%;
    height: 13.5rem;
}
.swiper-top{
    width: 100%;
    height: 13.5rem;
    position: relative;
}
.swiper-top img{
    width: 100%;
    height: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets
.swiper-pagination-bullet{
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 50%;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active{
    width: 0.75rem;
    height: 0.45rem;
    background-color: white;
    border-radius:0.75rem ;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 1.75rem !important;
    left: 0;
    width: 100%;
}
/* 轮播下面的图标 */
.list{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 0 1rem 1rem;
    text-align: center;
}
.list p{
    width:20%;
    height: 3.5rem;
}
.list img{
    width: 60%;
    height: 60%;
}
.list-txt{
    font-size: 0.9rem;
    color: #101d37;
    margin-top: 0.25rem;
}
/* Tab切换 */
#select{
    width: 100%;
    height: auto;
    background-color: white;
}
.tab_item{
    display: flex;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid rgba(0,0,0,.05);
    font-size: 1rem;
    align-items: center;
    position: relative;
    z-index: 999;
}
.select-item{
    width: 20%;
}
.triangleGray{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-image: url("../img/tri-bot.svg");
    background-size:  100% 100%; 
    margin-bottom: 0.3rem;
}
.triangleBlue{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url("../img/tri-top.svg") no-repeat;
    background-size: 100% 100%;
    transform: scale(1.35);
    margin-bottom: 0.3rem;
    display: none;
}
.active{
    color: #3072f6;
    font-weight: 700;
}
.fle{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.top_tab{
    position: fixed;
    top: 0;
    left: 0;
    height: 2.5rem;
    background-color: white;
    z-index: 10;
}
.tit{
    background-color: white;
    position: relative;
    z-index: 1000;
}
.tit-con{
    cursor: pointer;
}
.tit-content{
    width: 100%;
    height: 20rem;
    display: none;
}
.tit-san{
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 19.6rem;
    position: absolute;
    background-color: rgba(0,0,0,.1);
    display: none;
}
.tit-san1{
    position: fixed;
    width: 100%;
    top: 19.6rem;
    bottom: 0;
    z-index: 9999;
}
.tit-type{
    text-align: center;
    margin:1rem 0 0.8rem 0;
    font-size: 0.875rem;
}
.title{
    display: inline-block;
    width: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.type-item{
    display: inline-block;
    background-color: rgba(0,0,0,.05);
    width: 20%;
    margin: 0 0.5rem;
    padding: 0.35rem 0;
    border-radius: 5px;
}
.type-item1{
    display: inline-block;
    background-color: rgba(0,0,0,.05);
    color: #3072f6;
    width: 20%;
    margin: 0 0.5rem;
    border-radius: 5px;
    font-weight: 700;
}
/* tab里面详细内容1 */
.content1 div{
    height: 20rem;
}
.cont1-left{
    width: 20%;
    float: left;
    text-align: center;
    background-color: rgba(0,0,0,.05);
}
.cont1-zhong{
    width: 30%;
    float: left;
    background-color: rgba(0,0,0,.02);
    overflow: auto;
}
.cont1-right{
    width: 50%;
    float: left;
    overflow: auto;
}
.left-p1{
    padding: 1rem 1.5rem;
    cursor: pointer;
}
.zhong-p1,.zhong-p2{
    padding: 1rem  0;
    text-align: center;
    cursor: pointer;
}
/* tab里面详细内容2 */
.cont2-top{
    height: 65%;
    padding:0 1.3rem 0.8rem 1.7rem;
    box-sizing: border-box;
}
.cont2-top h3{
    margin:0 0 0.8rem 0;
}
.cont2-p1{
    text-align: center;
    margin-bottom: 0.5rem;
}
.input-top{
    width: 8rem;
    outline: none;
    text-align: center;
    padding: 0.5rem 0;
    border: none;
    font-size: 1.35rem;
}
.cont2-p1 span{
    display: inline-block;
    padding: 0.5rem 0;
}
.cont2-ul,.cont2-ul2,.cont2-ul3{
    display: flex;
    flex-wrap: wrap;
}
.cont2-ul{
    margin: 0 auto;
}
.cont2-ul li,.cont2-ul2 li,.cont2-ul3 li{
    width: 22%;
    font-size: 0.8rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0.3rem 0.8rem 0.3rem;
    text-align: center;
    background-color: rgba(0,0,0,.05);
    border-radius: 0.5rem;
}
.cont2-bottom{
    height: 35%;
    padding: 0 1rem 0 0.5rem;
    border-top: 1px solid #cecece;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.cont2-bot1{
    width: 10%;
}
.cont2-bot2{
    width: 90%;
    height: 65%;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    background-color: #3072f6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot1-img{
    height: 40%;
}
.bot1-text{
    text-align: center;
    font-size: 0.8rem;
}
.cont2-bot1 img{
    width: 100%;
    height: 100%;
}
.cont2-top1{
    overflow: auto;
}
.cont5-tit li{
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.5rem;
}
/* 点击地铁以及区域背景颜色 */
.active1{
    color: #3072f6;
    font-weight: 700;
    background-color: #e8e8e9;
}
.active2{
    color: #3072f6;
    background-color: #e8e8e9;
}
/* 获取最新房源 */
.type-bottom{
    width: 90%;
    height: 3rem;
    margin: 0 5%;
    line-height: 3rem;
    border-bottom:1px solid rgba(0,0,0,.2);
    font-size: 0.875rem;
}
.install{
    float: right;
    text-align: center;
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    border-radius:.35rem ;
    color: #3072f6;
    border: 1px solid #3072f6;
}
/* 遮罩层 */
.tit-san{
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 22.5rem;
    position: absolute;
    background-color: rgba(0,0,0,.1);
    display: none;
    z-index: 9999;
}
.tit-san1{
    position: fixed;
    width: 100%;
    top: 22.5rem;
    bottom: 0;
    z-index: 9999;
}
/* 房子 */
#list1{
    margin-top: 9rem;
     background-color: white;
}
.list-item{
    display: flex;
    padding: 1.5rem 0;
    margin: 0 2rem;
    background-color: white;
    border-bottom: 0.1rem solid #cecece;
}
.lists-left{
    width: 35%;
    height: 6rem;
}
.lists-right{
    width: 65%;
    height: 6rem;
    padding-left: 1rem;
}
.lists-left img{
    width: 100%;
    height: 100%;
}
.xiaoqu{
    font-weight: 700;
    font-size: 1.1rem;
}
.zhuzhai{
    float: right;
    font-weight: 100;
    font-size: 0.875rem;
    padding:0 0.25rem;
    border: 1px solid gray;
    border-radius: 0.15rem;
}
.price1{
    padding-bottom: 0.25rem;
    color: #fa5741;
    font-size: 0.8rem;
}
.numprice{
    font-weight: 700;
    font-size: 1.1rem;
}
.city{
    font-size: 0.75rem;
    color: gray;
    margin-bottom: 0.5rem;
}
.city-item{
    display: inline-block;
    padding: 0 0.5rem;
    border-right: 1px solid #cecece;
}
.city-item1{
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
}
.city-bottom{
    font-size: 0.8rem;
}
.city-bottom span{
    display: inline-block;
    padding: 0 0.5rem;
    color: gray;
    background-color: rgba(68,87,126,.08);
}
/* 尾部 */
.footer{
    padding: 0 1rem;
    background-color: #2f3130;
    color: #cecece;
}
.footer-item1 span{
    font-size: 0.7rem;
}
.span1{
    margin-right: 0.5rem;
}
/* 底部tab切换 */
.footer-tab{
    display: flex;
}
.tab-item{
    width: 40%;
    margin: 0 5%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}
.tab-item1{
    background-color: rgba(111,111,111,.2);
}
.item-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 0 0 1.5rem ;
}
.item-con li{
    list-style: outside;
    width: 25%;
    font-size: 0.875rem;
    height: 1.5rem;
    padding-right: 1.25rem;
    padding-left: 0.25rem;
    padding-bottom: 0.5rem;
}
.item-con li p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-item2{
    background-color: rgba(0,0,0,.5);
}

.tab-item-con{
    position: relative;
}
.tab-item1-con,.tab-item2-con{
    height: 9rem;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.01);
}
.tab-item1-con{
    display: block;
}.tab-item2-con{
    display: none;
}
.fixed1{
    width:4rem;
    height: 4rem;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 4rem;
    right: 2rem;
    z-index: 1000;
}
.fixed1 img{
    width: 40%;
}
.footer-text{
    font-size: 0.35rem;
    text-align: right;
    position: relative;
}
.footer-text p{
    margin-bottom: 0.1rem;
}
.beians{
    margin-top:0.5rem ;
}
.beian{
    vertical-align: middle;
}
.text-left{
    width:4rem;
    height: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: 4rem;
    left: 0rem;
    background: url("../img/icon-phone.314d7c66.png") no-repeat 100%/100%;
    background-position: 0 0;
}
.text-left1{
    width:4rem;
    height: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: 4rem;
    left: 4rem;
    background: url("../img/icon-phone.314d7c66.png") no-repeat 100%/100%;
    background-position: 0 -1.5rem ;
}
.text-left img{
    width: 100%;
}